In [2]:
import pandas as pd
archivo = pd.read_csv("C:\\Users\\Iv√°n\\Documents\\Python\\leerFicheros\\usuario.csv")
archivo

,codigo,correo,usuario,clave,rol,recuperar,activado,foto,bloquear
0,1,prueba@mail.com,willmattos,$2y$13$IY76RQBetyV8Wua/hvPoSOYrss2GQ8AXgbQHhRP...,2.0,NaN,1.0,you1.jpg,NaN
1,2,usuario@mail.com,user,$2y$13$Jua3ih.qqxHcnHMfGLnaEub5LwGsThidos.ipys...,0.0,1.402433e+09,1.0,NaN,NaN
2,3,usuario2@mail.com,usuario2,$2y$13$Jua3ih.qqxHcnHMfGLnaEub5LwGsThidos.ipys...,1.0,1.402433e+09,1.0,NaN,NaN
3,4,nuevacuenta@mail.com,nuevacuenta,$2y$13$DXO.c8DAGPJLmybQagJlVus9NIQp8aJPGz5CauU...,NaN,1.293649e+09,NaN,NaN,NaN
4,5,prueba1@mail.com,hola,$2y$13$Jj/6G6.1uz3mWKipAYNXaOHmbTJf3jUI/qC0WN9...,NaN,NaN,1.0,NaN,NaN